body {background-color: rgba(180, 130, 90, 0.5);
      font-family: "Times New Roman", Times, serif}
/* the whole website and some heading formats */

h1   {color: black;
      font-weight: bold;
      font-size: 36px}

h2   {color:maroon;
      font-weight: bold;
      font-size: 30px}

/* link decoration  */

a {
    text-decoration: none;
    color: maroon;
    padding: 8px 8px 8px 8px;
}

/* add hover change for users to notice the link */
a:hover {
  color: darkblue;
}



/* ordered nad unordered list */
ul{

	list-style-type: none;
	
}

li{
	font-size: 17px
}


/* navigation bar formats and the corresponding content to avoid overlapping */
#navigation {
  width: 100%;
  position: fixed;
  /* eliminates small gap at top of the page */
  top: 0px;
  height: 95px;
  background-color: rgba(180, 130, 90, 1.0);
}


#content {
  padding-top: 115px;
}


/* Menu division: format the menu generally including background colour and style */


#menu {
  width: 550px;
  height: 35px;
  font-size: 16px;
  font-family: Tahoma, Geneva, sans-serif;
  font-weight: bold;
  text-align: center;
  background-color: #bc9879;
  border-radius: 6px;
}

/* Menu division: format the unordered list so that it appears directly below the title of the page and below the edge of the colour background */
#menu ul {
  height: auto;
  padding: 8px 0px;
  margin: 0px;
}

/* Menu division: format the list items so that they display across the page instead of in a vertical list */
#menu li {
display: inline;
padding: 20px;
}

/* Menu division: format the link items so that they are dark blue, spaced apart, and do not have underlines */
#menu a {
    text-decoration: none;
    color: maroon;
    padding: 8px 8px 8px 8px;
}

/* format images so they float left and have a margin between them and the wrapped text.  */
/*Also format clear division to allow restart of next content below wrapped text. */

img {
  float: left;
  margin-right: 20px;
}



.clear {
  clear: left;
}


/* Create internal space in the cells of the table. */

table {
  		border: 15px;
  		text-align: center;
  		padding: 15px;
   		}

th, td {padding: 2px 10px 2px 10px;
        border-width: 2pt;
        text-align: center
}

table, th, td {
  border: 1px solid black;
}


/* form formatting */

form {background: antiquewhite;
      border: 2px solid black;
      border-radius: 5px;
      padding: 7px;
}

input[type="text"] {
  width: 90%;
}


/* text area for feedback input. */
textarea {
  width: 90%;
  height: 3em;
  
}





