body {background-color: rgba(180, 130, 90, 0.5);
      font-family: "Times New Roman", Times, serif}


h1   {color: black;
      font-weight: bold;
      font-size: 36px}

h2   {color:maroon;
      font-weight: bold;
      font-size: 30px}



a {
    text-decoration: none;
    color: maroon;
    padding: 8px 8px 8px 8px;
}

a:hover {
  color: darkblue;
}




ul{

	list-style-type: none;
	
}

li{
	font-size: 17px
}



/* Menu division: format the menu generally including background colour and style */


#menu {
  width: 550px;
  height: 35px;
  font-size: 16px;
  font-family: Tahoma, Geneva, sans-serif;
  font-weight: bold;
  text-align: center;
  background-color: #bc9879;
  border-radius: 6px;
}

/* Menu division: format the unordered list so that it appears directly below the title of the page and below the edge of the colour background */
#menu ul {
  height: auto;
  padding: 8px 0px;
  margin: 0px;
}

/* Menu division: format the list items so that they display across the page instead of in a vertical list */
#menu li {
display: inline;
padding: 20px;
}

/* Menu division: format the link items so that they are dark blue, spaced apart, and do not have underlines */
#menu a {
    text-decoration: none;
    color: maroon;
    padding: 8px 8px 8px 8px;
}

/* raster and vector divisions: format images so they float left and have a margin between them and the wrapped text.  Also format clear division to allow restart of next content below wrapped text. */



#raster img {
  float: left;
  margin-right: 20px;
}

#vector img {
  float: left;
  margin-right: 20px;
}

#clear {
  clear: left;
}


